.container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 88px;
    
    padding: 66px;

    
    
}
.cards{
    height: 300px;
    width: 300px;
    box-shadow:0 30px 30px rgba(0, 0, 0, 0.7);
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    
}